@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



header {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  display: block;
  align-content: center;
  text-align: center;
  color: red;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p {
  margin: 1rem 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: block;
  align-content: center;
  text-align: center;
  }

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
  align-content: center;
  text-align: center;
}

/* Center Image */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

/* make the link blue */
a {
  color: rgb(0, 132, 255);
}

/* make the link blue when hovered */
a:hover {
  color: rgb(0, 38, 255);
}


